footer{
    width: 100%;
    background-color: #1f2024;
}

.footer_wrap{
    max-width: 1600px;
    height: 500px;
    margin: 0 auto;
    padding: 74px 0 74px;
    text-align: center;
    position: relative; 
   

}

.footer_menu{
    position: absolute;
    font-size: 0;
    left: 0;
    top: 60px;
    width: 1300px;
    height: 300px;
    border-bottom: 1px solid gray;
    opacity: 0.7;

}

.footer_menu > li{
    display: inline-block;
    position: relative;
    margin: 0 50px;
}


.footer_menu > li:first-child{
    vertical-align: top;
    
}

.footer_menu > li:nth-child(2){
    vertical-align: top;

}

.footer_menu > li:nth-child(3){
    vertical-align: top;

}

.footer_menu > li:last-child{
    vertical-align: too;
}

.footer_menu:after{
    content:'';
    display: block;
    clear: both;
}


.first_title span{
    display: inline-block;
    color: gray;
    margin-top: 0 ;
    font-size: 20px;
    margin-bottom: 30px;
}

.lists{
    display: inline-block;
    color: #fff;
    line-height: 30px;
    font-size: 15px;
  
}

.lists:hover, .lists:focus{
    color: gray;
}

.the others > li{
    display: inline-block;
    position: relative;
    
}


.footer_img{
    position: absolute;
    bottom: 60px;
    
}

.footer_bar{
    position: relative;
    width: 1300px;
    height: 65px;
    bottom: -170px;
}

.national{
    position: absolute;
    width: 202px;
    height: 38px;
    bottom: 0px;
    background-color: #3c3c42;
}

.national img{
    position: absolute;
    top: 10px;
    left: 15px;
}


.national span{
    position: absolute;
    font-size: 15px;
    color: #fff;
    top: 10px;
    left: 50px;
}

.national:hover, .national:focus{
    background-color: #6E6E6E;
}

.introduce > li{
    display: inline-block;
    position: relative;
    left: 340px;
    top: 40px;

}

.numbering span{
    color: white;
    margin-right: 5px;
}

.numbering span:hover, .numbering span:focus{
    color: gray;
}

.sns1{
    position: absolute;
    width: 37px;
    height: 33px;
    right: 150px;
    top: 35px;
}
.sns1:hover, .sns1:focus{
    border: 1px solid #ef3c39;
}
.sns2{
    position: absolute;
    width: 38px;
    height: 34px;
    right: 110px;
    top: 34px;
}
.sns2:hover, .sns2:focus{
    border: 1px solid #3b5b99;
}
.sns3{
    position: absolute;
    width: 38px;
    height: 33px;
    right: 71px;
    top: 35px;
}
.sns3:hover, .sns3:focus{
    border: 1px solid #507da2;
}

.information{
    position: relative;
    width: 500px;
    height: 200px;
    bottom: -220px;
    text-align: left;
}

.information_line1 span {
    display: inline-block;
    margin-bottom: 30px;
    line-height: 20px;
    color: #6f6f78;
}
.info_linked span{
    color: #fff;
}
.information_line1 span{
    font-size: 11px;
    color: #fff;
    line-height: 20px;
}

.linked> li{
    position: relative;
    display: inline-block;
    margin: 0 2px;
    top: -30px;
    left: 1px;
    white-space: nowrap;
    font-size: 13px;
    line-height: 20px;
}

.mail{
    position: absolute;
    right: 240px;
    bottom: 8px;
    color: #fff;
}
.information_line2 span{
    position: absolute;
    font-size: 11px;
    color:  #6f6f78;
    margin-left: 3px;
    margin-top: -30px;
    line-height: 20px;
    
}
